@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@600&family=Poppins:wght@100;300;400;600&display=swap');

/*__________RESET__________*/
*, ::before, ::after, h1, h2, h3, h4, h5, h6 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

* {
    font-family: 'Poppins', Helvetica, sans-serif ;
}

/*__________COMMUN__________*/
h1 {
    font-family: 'Phudu', cursive, Helvetica, sans-serif;
    color: black;
    text-shadow: 0 0 5px rgba(0, 0, 0, .5);
}


.CSS {
    background-color: #CE93D8;
}
.CSS .card:hover {
    background-color: #F3E5F5;
    box-shadow: 0 0 8px rgba(255, 255, 255, .9);
}
.CSS h2 {
    background-color: #F3E5F5;
    border-bottom: 3px solid #6A1B9A;
}
.Icones {
    background-color: #FFF59D;
}
.Icones .card:hover {
    background-color: #FFFDE7;
    box-shadow: 0 0 8px rgba(255, 255, 255, .9);
}
.Icones h2 {
    background-color: #FFFDE7;
    border-bottom: 3px solid #FDD835;
}
.Images {
    background-color: #A5D6A7;
}
.Images .card:hover {
    background-color: #E8F5E9;
    box-shadow: 0 0 8px rgba(255, 255, 255, .9);
}
.Images h2 {
    background-color: #E8F5E9;
    border-bottom: 3px solid #388E3C;
}
.Fonts {
    background-color: #7986CB;
}
.Fonts .card:hover {
    background-color: #E8EAF6;
    box-shadow: 0 0 8px rgba(255, 255, 255, .9);
}
.Fonts h2 {
    background-color: #E8EAF6;
    border-bottom: 3px solid #283593;
}
.Outils {
    background-color: #D7CCC8;
}
.Outils .card:hover {
    background-color: #EFEBE9;
    box-shadow: 0 0 8px rgba(255, 255, 255, .9);
}
.Outils h2 {
    background-color: #EFEBE9;
    border-bottom: 3px solid #4E342E;
}
.Packages {
    background-color: #EF9A9A;
}
.Packages .card:hover {
    background-color: #FFEBEE;
    box-shadow: 0 0 8px rgba(255, 255, 255, .9);
}
.Packages h2 {
    background-color: #FFEBEE;
    border-bottom: 3px solid #B71C1C;
}
.Autre {
    background-color: #FFE0B2;
}
.Autre .card:hover {
    background-color: #FFF3E0;
    box-shadow: 0 0 8px rgba(255, 255, 255, .9);
}
.Autre h2 {
    background-color: #FFF3E0;
    border-bottom: 3px solid #EF6C00;
}

/*___________RESPONSIVE___________*/
@media screen and (max-width: 1280px) {
    .card-container {
        justify-content: space-evenly !important;
    }

    .card {
        width: 30% !important;
    }
}

@media screen and (max-width: 835px) {
    .card {
        width: 45% !important;
    }
}

@media screen and (max-width: 575px) {
    .card {
        width: 100% !important;
    }
}